///ACA ESTOY VINCULANDO ///

<div>
    <h1>
        Hola {{name}} bienvenidos a la tienda
    </h1>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js" ></script>

///ACA ESTOY VINCULANDO ///